extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='#{messageURL}',method='post')
    input(type='text',name='message',placeholder='Enter a message',size='40')
    input(type='submit',name='submit',value='Submit')